.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
 
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(230, 224, 224);
}

.website-name{
}

.header-grid{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-section{
  flex: 1;
  background-color: yellow;
}

.middle-section{
  align-items: center;
  flex: 2;
  background-color: blueviolet;
}

.right-section{
  width: 100px;
  background-color: red;
}