.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #4F6D7A;
}
/* My header is fucking up */

.website-name{
  text-align: center;
}

.cart-icon{
  float: right;
  padding-right: 18px;
  padding-top: 10px;
}

.header-grid{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 30px;
  height: 60px;
  padding-top: 15px;
}

.logo-header{
  height: 85px;
  width: 350px;
  border-radius: 30px;
}

.left-section{
  flex: 1;
}

.middle-section{
  flex: 2;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  word-spacing: 80px;
  border-style: solid;
  border-color: #C0D6DF;
  border-bottom-width: 1px;
  margin-top: 20px;
  color: #C0D6DF;
}

.right-section{
  width: 100px;
  margin-right: 10px;
}