.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.website-name{
  text-align: center;
}

.header-grid{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 30px;
  height: 60px;
}

.left-section{
  flex: 1;
}

.middle-section{
  flex: 2;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  word-spacing: 80px;
  border-style: solid;
  border-color: lightgrey;
  border-bottom-width: 1px;
}

.right-section{
  width: 100px;
  background-color: red;
}